[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==4.0.3"
psycopg2-binary = "==2.9.3"
djangorestframework = "*"
django-rest-auth = "==0.9.5"
djangorestframework-simplejwt = "*"
django-cors-headers = "*"
environ = "*"
django-environ = "*"

[dev-packages]

[requires]
python_version = "3.10.2"
